@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body {
    font-family: "Inika";
    color: #8B7969;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    text-align: center;
    border: solid 1px #E0DFDE;
    height: 100px;
    padding: 15px;
    position: relative;
}

.header__logo {
    color: #8B7969;
    font-size: 40px;
    font-family: "Inika", serif;
    text-decoration: none;
    display: inline-block;
}

.header__button {
    text-align: center;
}

.header__button--submit {
    font-family: "Inika", serif;
    text-align: center;
        background-color: #F0F0F099;
        border: solid 1px #D9C6B5;
        width: 100px;
        opacity: 0.6;
        color: #D9C6B5;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 50px;
            appearance: none;
}

.submit__button {
    text-align: center;
}

.submit__button-submit {
    background-color: #82756A;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.main__content--heading h2{
    font-family: "Inika", serif;
    font-size: 35px;
    font-weight: normal;
    display: block;
}
