html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 338px;
    box-sizing: border-box;
    z-index: 0;
}

h2 {
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    z-index: 1;
}

h2::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Inika";
    color: #8B79690D;
    font-weight: normal;
    content: 'Thank You';
    z-index: -1;
    display: block;
    text-align: center;
    font-size: 280px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.thanks__button {
    text-align: center;
    margin-top: 30px;
    z-index: 1;
}

.home-button {
    background-color: #82756A;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 40px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
}